subscriptions.xml
.DS_Store
client_secrets.json
subscribe.py-oauth2.json
env
channels_subscribed.txt
yellow_subscription_manager.xml
dist/subscribe.exe-oauth2.json
dist/subscribe.exe
__pycache__/subscribe.cpython-36.pyc
build/subscribe/Analysis-00.toc
build/subscribe/base_library.zip
build/subscribe/EXE-00.toc
build/subscribe/PKG-00.pkg
build/subscribe/PKG-00.toc
build/subscribe/PYZ-00.pyz
build/subscribe/PYZ-00.toc
build/subscribe/subscribe.exe.manifest
build/subscribe/warn-subscribe.txt
build/subscribe/xref-subscribe.html
subscribe.spec
yellow_subscription_manager_2.xml
